if admin  
  header(class="full-frame bg-white header") 
    div.framer 
      div.frame.justify-content-between 
        div(class="d-md-hide m-r-1" style="padding-top:.45rem")
            a(href="#" class="brand" style="font-size:1.1rem;") ENDSARS
        div.d-md-hide(style="padding-top:.45rem") 
            a(class="search" href="#") 
              i.fa.fa-search(style="font-size:1rem")
        div(class="d-md-hide search-and-toggle" style="padding-top:.45rem") 
          button(class="mobile-toggler relative change-toggle" id="mobile-toggler") 
            span 
            span 
            span 
        section(class="mobile-navigations d-md-hide d-nothing out-of-view")
          a(href="#" class="") About
          a(href="#" class="") Blog
          a(href="#" class="") Features
          a(href="#" class="") Soro soke 
          a(href="#" class="") Login in  
          a(href="/register" class="no-border center-text no-outline white-text bg-red radius-5 button shadow") Get Started   
        div.d-sm-hide
          a(class="brand" href="/") ENDSARS   
          a(href="/start-petition?source-location=homepage_large_button") Users 
          a(href="#") Ore ti oke 
          a(href="#") Issues
        nav.d-sm-hide.md-nav(style="padding-top:.5rem") 
          a(href="https://www.quickteller.com/bayelsa") #[i.fa.fa-search]    
          a(href="/login" class="") Logout 
else 
  header(class="full-frame bg-white header") 
    div.framer 
      div.frame.justify-content-between 
        div(class="d-md-hide m-r-1" style="padding-top:.45rem")
            a(href="#" class="brand" style="font-size:1.1rem;") ENDSARS
        div.d-md-hide(style="padding-top:.45rem") 
            a(class="search" href="#") 
              i.fa.fa-search(style="font-size:1rem")
        div(class="d-md-hide search-and-toggle" style="padding-top:.45rem") 
          button(class="mobile-toggler relative change-toggle" id="mobile-toggler") 
            span 
            span 
            span 
        section(class="mobile-navigations d-md-hide d-nothing out-of-view")
          a(href="#" class="") About
          a(href="#" class="") Blog
          a(href="#" class="") Features
          a(href="#" class="") Soro soke 
          a(href="#" class="") Login in  
          a(href="/register" class="no-border center-text no-outline white-text bg-red radius-5 button shadow") Get Started   
        div.d-sm-hide
          a(class="brand" href="/") ENDSARS   
          a(href="/start-petition?source-location=homepage_large_button") Soro Soke  
          a(href="#") Explore 
          a(href="#") Own
        nav.d-sm-hide.md-nav(style="padding-top:.5rem") 
          a(href="https://www.quickteller.com/bayelsa") #[i.fa.fa-search]    
          a(href="/login" class="") Login 
  