footer(class="bg-foote w-100" style="background:#fff!important;padding-top:3rem;") 
  div.framer 
    div.frame.justify-content-between.border-bottom-faint.m-b-1 
      div.w-20.fr-12.footer-navs 
        div.frame.justify-content-between 
          h5 Company
          p(class="d-md-hide ") #[i(class="fa fa-plus tabber" style="font-size:.65rem")] 
        div(class="tab-content mobile-hide") 
            a(href="#") About
            a(href="#") Impact
            a(href="#") Careers
            a(href="#") Team
      div.w-20.fr-12.footer-navs 
        div.frame.justify-content-between 
          h5 Community 
          p(class="d-md-hide ") #[i(class="fa fa-plus tabber" style="font-size:.65rem")] 
        div(class="tab-content mobile-hide") 
            a(href="#") Blog
      div.w-20.fr-12.footer-navs 
        div.frame.justify-content-between 
          h5 Support
          p(class="d-md-hide ") #[i(class="fa fa-plus tabber" style="font-size:.65rem")] 
        div(class="tab-content mobile-hide") 
            a(href="#") Help 
            a(href="#") Guides 
            a(href="#") Privacy
            a(href="#") Policies
      div.w-20.fr-12.footer-navs 
        div.frame.justify-content-between 
          h5 Connect 
          p(class="d-md-hide ") #[i(class="fa fa-plus tabber" style="font-size:.65rem")] 
        div(class="tab-content mobile-hide") 
            a(href="#") Twitter
            a(href="#") Facebook
     
    div(class="frame justify-content-between")
      //- div.social.center-text.rope-12
      //-   a(href="#") #[i.fa.fa-facebook] 
      //-   a(href="#") #[i.fa.fa-twitter]
      //-   a(href="#") #[i.fa.fa-instagram]
      //-   a(href="#") #[i.fa.fa-whatsapp] 
      div.center-text 
        p(style="font-size:.75rem")  Copyright &copy; Adney Reich Limited 2020. All Rights Reserved 
      select(class="rope-12 input-border-faint pad-10 ") 
        option(value="English") English