block content
    section(class="footer")
        div(class="main-footer")
            div(class="container-fluid")
                .mb-5
                div(class="row mb-5")
                    div(class="col-md-2 col-sm-12 mt-1 mb-4")
                        h4.footer_header#h1 Celchin   
                        ul
                            li #[a(href="/about" class="text-muted a1 ") About]                 
                            li #[a(href="/our-vision" class="text-muted a1 ") Vision]                 
                            li #[a(href="/contact" class="text-muted a1 ") Contact]                 
                            li #[a(href="/partners" class="text-muted a1  mb-4") Partners]   
                    div(class="col-md-2 col-sm-12 mt-1 mb-4")
                        h4.footer_header#h2 SERVICES 
                        ul
                            li #[a(href="/services/logistics" class="a2  text-muted") Logistics]                 
                            li #[a(href="/services/engineering" class="a2  text-muted") Engineering]                             
                            li #[a(href="/services/supply-chain" class="a2  text-muted") Supply Chain]                    
                            li #[a(href="/services/solar" class="a2  text-muted mb-4") Solar]                    
                    div(class="col-md-2 col-sm-12 mt-1 mb-4 ")
                        h4.footer_header#h3  LEGAL
                        ul
                            li #[a(href="/hse-policy" class="a3  text-muted") HSE Policy]                 
                            li #[a(href="/quality-policy" class="a3  text-muted mb-4") Quality Policy]
                    div(class="col-md-2 col-sm-12 mt-1 mb-4")
                        h4.footer_header#h4 MORE INFO
                        ul
                            li #[a(href="/hse-policy" class="a4  text-muted") Site Map]                 
                            li #[a(href="/quality-policy" class="a4  text-muted") Track my Order]
                            li #[a(href="/hse-policy" class="a4  text-muted") Privacy Policy]                 
                            li #[a(href="/quality-policy" class="a4  text-muted mb-4") Authentic Item Policy]
                    .col-md-1
                    div(class="col-md-3  col-sm-12 mt-1 mb-3")
                        h4.footer_header  CONTACT
                        div.foot-para
                            p 18, Ikeja Street, Lagos
                            p help@celchin.com
                            p 0708 063 5700, 0809 460 5555 
                        div(class="icons mt-4")
                            p  
                                a(href="#") #[i.fa.fa-facebook.fa-round] 
                                a(href="#" class="twit") #[i.fa.fa-twitter.fa-round] 
                                a(href="#") #[i.fa.fa-whatsapp.fa-round]
                                a(href="#") #[i.fa.fa-instagram.fa-round]
                hr
                div(class="container text-center mt-3")
                    p.copyright Copyright &copy; 2020 #[span.text-white.text-und Celchin.] All rights reserved.

    //- script(src="/javascripts/library/footer.js")