block content 
  header 
    section(id="top-header") 
      div.section-wrapper 
        div.wrapper 
          div.wrap 
            div.wrap-sm-12.wrap-md-4 
              a(href="mailto:adetight@gmail.com" class="m-r-1") #[i.fa.fa-envelope]  adetight@gmail.com
              a(href="tel:09057542479") #[i.fa.fa-phone]   +2349057542479 
            div.wrap-md-4 
            div.wrap-sm-12.wrap-md-4.center-text
              a(href="tel:09057542479" class="m-r-1") #[i.fa.fa-user] Login
              a(href="tel:09057542479") #[i.fa.fa-sign-out]  Sign up  
    section(id="navigation-area")
      div.section-wrapper 
        div.wrapper 
          div.wrap.bg-faint.pad-10 
            div.wrap-md-2.wrap-sm-2 
              h1 ZIL 
            div.wrap-md-10.wrap-sm-10 
              div.d-md-hide.pad-top-2(style="text-align:right") 
                span.m-r-1 
                  i.fa.fa-search 
                span#navbar-toggler 
                  i.fa.fa-bars.toggler-icon 
              div.mobile-hide.mobile-navigatio 
                p(style="text-align:right;color:#fff;padding:1rem") 
                //#[i.fa.fa-close] 
                a(class="" href="/") Home 
                a(class="" href="/") About us
                a(class="" href="/") Training
                a(class="" href="/") Forecast
                a(class="" href="/") Testimonials
                a(class="" href="/") Career
                a(class="" href="/") Contact
                a(class="" href="/" class="mobile-link") #[i.fa.fa-user] Sign in
                a(class="" href="/" class="mobile-link") #[i.fa.fa-sign-out] Sign up   