block content
  //-   Ensure to use same dashboard for both the admin and the user and maybe any other third party  
  aside.sticky.no-outline.bg-blue-thick.pad-left-4.pad-top-4
    h1.app-name WIB 
    nav.app-navigation 
      ul.list-unstyled#navigation 
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-bar-chart.sidebar-icon] #[span Dashboard]] 
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-plus.sidebar-icon] #[span Invest]]
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-shopping-cart.sidebar-icon] #[span Deposit]]
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-cart-plus.sidebar-icon] #[span Deposits]]
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-download.sidebar-icon] #[span My withdrawals]]
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-dollar.sidebar-icon] #[span My investments]]
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-key.sidebar-icon] #[span General Settings]]
        li.nav-list #[a(class="nav-link" href="/") #[i.fa.fa-user-secret.sidebar-icon] #[span Account Settings]]