block content 
  aside(class="sticky s  bg-dark-faint pad-top-") 
    if true
      p(class="bg-dodgerblu white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/investor") #[i(class="fa fa-dashboard sidebar-icon")  Dashboard]] 
      p(class=" white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/dashboard/profile") #[i(class="fa fa-userso sidebar-icon")  ] Profile] 
      p(class=" white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/dashboard/filing") #[i(class="fa fa-comment sidebar-icon")  ] Filing] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/dashboard/tcc") #[i(class="fa fa-download sidebar-icon") ] TCC Application ] 
      p(class="white-text no-border m-b-1-5 pad-10") #[a(class="nav-link" href="/#") #[i(class="fa fa-key sidebar-icon")] General Settings]