include includes/bigjara-head.pug 
block content
  link(rel="stylesheet" href="/stylesheets/dashboard.css")
  link(rel="stylesheet" href="/css/blog.css")
  body.bg-fainted 
    .loader-bg
      .loader-track 
        .loader-fill
    include includes/new-sidenav.pug 
    include includes/new-usernav.pug
    .pcoded-main-container
      .pcoded-wrapper
        .pcoded-content
          .pcoded-inner-content
            section(class="d-wrapper")
              main.main(style="width:100%")
                div.wrapper   
                  div.wrap.justify-content-between 
                    div.wrap-md-12.wrap-12.bg-white.shadow.pad-10.center-text.radius-5.dark-text
                      h2 Welcome back Admin 
                      p Celchin Ecommerce Platform  
                      p CEP is an automated platform for Celchin Nigeria Limited  
                      if !admin.name
                        p Take time to setup your account. Start #[a(href="/celchin-admin/profile") here]
                      else 
                        p Create a product Category  #[a(href="/celchin-admin/product-categories") here]
          
    script(src="/js/easyframer.js")
    script(src="/js/transactionmanager.js" type="module")

    script(src="/javascripts/vendor-all.min.js")
    script(src="/plugins/select2/select2.min.js")
    script(src="/javascripts/library/select.js")
    script(src="/plugins/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/pcoded.min.js")
  