include includes/celchin-header.pug 
block content
    link(rel='stylesheet' , href='/stylesheets/celchin.css')
    body(style="background : #f2f2f2;")
      include includes/celchin-navbar.pug
        div(class="main-page" style="margin-bottom:8rem;")
            div(class="container contact-page")
                div(class="row")
                    div(class="col-md-6 form-area order-last order-lg-first mb-3")
                        h3 How can we serve you?
                        form
                            input(type="text" name="fullName" placeholder="Full Name")
                            input(type="tel" name="phoneNumber" placeholder="Phone Number")
                            input(type="email" name="email" placeholder="E-Mail")
                            textarea(name="message")
                            button(type="submit") Send
                    div(class="col-md-6 image-area order-first order-lg-last mb-3")
                        img(src="/images/contact.svg" width="100%"  alt="")
                        ul
                            li We are ever ready to serve you .
                            li 
                                span info@celchin.com 
                                br
                                span celestine@celchin.com
                                
                            li
                                span +234 703 327 3608  +234 708 634 0630 
                                br 
                                span +234 8033 554 668

      script(src="/js/cart.js" type="module") 
      script(src="/javascripts/more-less.js")
      include includes/footerDesign.pug
    include includes/cel-footer.pug 