include includes/head.pug
block content
    body
        div.framer 
            div.center-text.error-box 
                div(class="bold-700 " data-text="404") 404
                p(class="lead text-gray-800 mb-3") Page Not Found
                p(class="text-gray-800 mb-0") It looks like you are not in the right path...
                a(href="/" class="button no-border no-button white-text bg-dark") &larr; Back To Home