include includes/bigjara-head.pug 
block content
  link(rel="stylesheet" href="/stylesheets/dashboard.css")
  link(rel="stylesheet" href="/css/blog.css")
  body.bg-fainted 
    .loader-bg
      .loader-track
        .loader-fill
    include includes/new-sidenav.pug 
    include includes/new-usernav.pug
    .pcoded-main-container
      .pcoded-wrapper
        .pcoded-content
          .pcoded-inner-content
            section(class="d-wrapper")
              main.main(style="width:100%")
                div.wrapper  
                  h3.m-b-1 Transactions Portal 
                  div.wrap  
                    div.wrap-12
                      div
                        a(href="/celchin-admin/transactions/hire" class="d-block mb-3 button no-border no-outline btn-orange text-white") Hire #[span.pull-right #[i(class="fa fa-angle-right")]  ]
                    div.wrap-12
                      div
                        a(href="/celchin-admin/transactions/orders" class="d-block mb-3 button no-border no-outline bg-dark text-white") Orders #[span.pull-right #[i(class="fa fa-angle-right")]  ]
                    div.wrap-12
                      div
                        a(href="/celchin-admin/transactions/inquiry" class="d-block mb-3 button no-border no-outline bg-green text-white") Inquiry #[span.pull-right #[i(class="fa fa-angle-right")]  ]
            

    script(src="/js/easyframer.js")
    script(src="/js/transactionmanager.js" type="module")

    script(src="/javascripts/vendor-all.min.js")
    script(src="/plugins/select2/select2.min.js")
    script(src="/javascripts/library/select.js")
    script(src="/plugins/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/pcoded.min.js")
  